name: Daily Update
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/workflows/**'
  schedule:
    - cron: "0 0 * * *"

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Get source
        uses: actions/checkout@v3
      - name: Get Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"
      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
          cache-dependency-glob: "free-labour.py"
      - name: Get the current year
        run: echo "YEAR=$(date +%Y)" >> $GITHUB_ENV
      - name: Update README.md
        run: uv run free-labour.py --log ${{ env.YEAR }}.jsonl > README.md
        env:
          UV_SYSTEM_PYTHON: 1
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@e348103e9026cc0eee72ae06630dbe30c8bf7a79  # v5.1.0
        with:
          commit_message: Update README.md and ${{ env.YEAR }}.jsonl
          file_pattern: README.md ${{ env.YEAR }}.jsonl
